<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.digitalleague.core.mapper.CarMapper">
    <resultMap id="carModel"
               type="ru.digitalleague.core.model.CarModel">
        <id property="id" column="id"/>
        <result property="carModel" column="model"/>
        <result property="createDttm" column="createdttm"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, model, createdttm
    </sql>

    <insert id="insert" parameterType="ru.digitalleague.core.model.CarModel">
        <selectKey resultType="Long" keyProperty="id" order="BEFORE">
            select nextval('car_seq');
        </selectKey>
        insert into car (id, model, createdttm)
        values (#{id,jdbcType=BIGINT}, #{model,jdbcType=VARCHAR}, #{createdttm, jdbcType=TIMESTAMP})
    </insert>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="carModel">
        select
        <include refid="Base_Column_List"/>
        from car
        where id = #{id, jdbcType=BIGINT}
    </select>

    <update id="updateByPrimaryKey" parameterType="ru.digitalleague.core.model.CarModel">
        update car
        set model = #{carModel, jdbcType=VARCHAR},
            createdttm = #{createDttm, jdbcType=TIMESTAMP}
        where id = #{id, jdbcType=BIGINT}
    </update>

    <select id="selectByModel" parameterType="java.lang.String" resultMap="carModel" useCache="false">
        select
        <include refid="Base_Column_List"/>
        from car
        where model = #{carModel}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from car
        where id = #{id}
    </delete>

</mapper>